html,
body,
main {
  height: 100%;
}

#oracle-app {
  display: flex;
}

#sidebar {
  background-color: #1e2b3f;
  width: 500px;
}

.header-content {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.description {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Raleway", sans-serif;
}

h1 {
  color: white;
  font-size: 50px;
  font-family: "Orbitron", sans-serif;
}

#traffic-selectors {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.traffic-buttons {
  height: 30px;
  width: 90%;
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-around;
}

.traffic-buttons > .train {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  border-right: 1px solid rgba(255, 255, 255, 0.7);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.traffic-buttons > .train:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.traffic-buttons > .train-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  background-color: rgb(59, 154, 231);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.traffic-buttons > .airplane {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.traffic-buttons > .airplane:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.traffic-buttons > .airplane-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background-color: rgb(59, 154, 231);
}

.traffic-buttons > .boat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  border-right: 1px solid rgba(255, 255, 255, 0.7);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.traffic-buttons > .boat:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.traffic-buttons > .boat-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  background-color: rgb(59, 154, 231);
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

#map {
  height: calc(100%);
  width: calc(100% - 500px);
}
