html,
body,
main {
  height: 100%;
}

#oracle-app {
  display: flex;
}

#sidebar {
  background-color: #1e2b3f;
  width: 500px;
}

.header-content {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.description {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Raleway", sans-serif;
}

h1 {
  color: white;
  font-size: 50px;
  font-family: "Orbitron", sans-serif;
}

#traffic-selectors {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.traffic-buttons {
  height: 30px;
  width: 90%;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
}

.traffic-buttons > .train {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  border-right: 1px solid rgba(255, 255, 255, 0.7);
}

.traffic-buttons > .airplane {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  border-right: 1px solid rgba(255, 255, 255, 0.7);
}

.traffic-buttons > .boat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3%;
}

#map {
  height: calc(100%);
  width: calc(100% - 500px);
}
